
body {
  background-color: #e2e8f0;
  overflow-x: hidden;
}


.tag {
  text-align: center;
  margin-top: 4rem;
}
.main {
  background-color: rgb(218, 227, 230);
  margin-top: 2rem;
}

.slick-slide img {
  margin-top: 2rem;
  margin: auto;
  width: 55%;
  height: 55%;
  border-radius: 8%;
  box-shadow: 2px 2px 2px 3px rgba(135, 95, 47, 0.626);
}

.imgslider {
  margin-top: 5rem;
}

.map {
  margin: 2% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  width: 80%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(48, 48, 49);
  height: 5%;
  width: 100%;
  margin-top: 4rem;
  padding: 1rem;
  bottom: 0;
}

.mail a {
  text-decoration: none;
  background-color: rgb(135, 95, 47);
  color: wheat;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
}

.mail a:hover {
  background-color: rgba(135, 95, 47, 0.626) ;
  border-radius: 1.5rem;
  border-width: 2px ;
}


.chat {
  position: fixed;
  bottom: 5%;
  right: 3%;
}
